.msg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  width: 100%;
  margin-top: 10px;
}

.msg-wrapper.name-to {
  align-items: flex-start;
}

.msg-container {
  width: 60%;
  padding: 0.5rem;
  background: rgb(255 255 255 / 5%);
}

.msg-container-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  font-size: 0.8rem;
}

.msg-name.name-from {
  color: #198754;
}

.msg-name.name-to {
  color: #dc3545;
}

.msg-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  font-size: 0.7rem;
}
